.HomePage {
    max-width: 1300px;
    margin: 1rem auto;
}

.HomePage-title {
    font-size: 1.5rem;
    color: #333333;
    margin-bottom: 1rem;
    margin-left: 8px;
}

.HomePage-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: baseline;
}

@media (max-width: 1300px) {
    .HomePage-products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 950px) {
    .HomePage-products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 630px) {
    .HomePage-products {
        grid-template-columns: repeat(1, 1fr);
    }
}